﻿@media (min-width: 100px) {
    .container{
		max-width: 80vw;
		max-height: vmax;
	}
}
body
{
	
	font-family: 'Comfortaa', serif;
	background: url("../img/fon3.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;				/* Заполняем для адаптации */
	/*filter: blur(5px);*/
}

.container
{
	background-color: rgb(255, 255, 255);
	font-family: 'Comfortaa', serif;
}
header
{
	background-attachment: fixed;
	background-color: rgb(255, 255, 255); /*#FEF3DF;*/
	padding: 15px; 	
	font-family: 'Comfortaa', serif;
	/*background-image:  url("../img/backing3.jpg");*/
	
}
footer
{
	background-attachment: fixed;
	background-color: rgb(255, 255, 255); /*#FEF3DF;*/ 	
	font-family: 'Comfortaa', serif;
	color: white;
	/*background-image:  url("../img/backing3.jpg");*/
	
}

.main-card
{
	font-family: 'Comfortaa', serif;
	background-attachment: fixed;
	background: #eaf1f8; /* Old Browsers */
	background: -webkit-linear-gradient(bottom,#eaf1f8,#ffffff); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,#eaf1f8,#ffffff); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,#eaf1f8,#ffffff); /*Fx 3.6-15*/
	background: linear-gradient(to top, #eaf1f8, #ffffff); /*Standard*/
	border-width: 1px;
	border-style: ridge;
	border-color: #228bcc;
	margin: 0.5%;
	padding: 0.3%;
}
.main-card:hover
{
	font-family: 'Comfortaa', serif;
	background-attachment: fixed;
	background: #cce6ff; /* Old Browsers */
	background: -webkit-linear-gradient(bottom,#cce6ff,#ffffff); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,#cce6ff,#ffffff); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,#cce6ff,#ffffff); /*Fx 3.6-15*/
	background: linear-gradient(to top, #cce6ff, #ffffff); /*Standard*/
	border-width: 1px;
	border-style: ridge;
	border-color: #228bcc;
	margin: 0.5%;
	padding: 0.3%;
}

.text-head
{
	background: #005bbb; /* Old Browsers */
	background: linear-gradient(to top, #005bbb, hsl(214, 100%, 66%) 85%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: black;
	font-weight: bold;
}
.navbar-line
{
	background-color: #228bcc;
}
p
{
	color: #003a8a;
}
td
{
	color: #0356ca;
}
tr
{
	color: #003a8a;
}
h4
{
	color: #003a8a;
}
.line
{
	border: none;
	background-color: #005bbb; 
	height: 1px;
}


.btn-price
{
	
	background: #cce6ff; /* Old Browsers */
	background: -webkit-linear-gradient(bottom,#cce6ff,#ffffff); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,#cce6ff,#ffffff); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,#cce6ff,#ffffff); /*Fx 3.6-15*/
	background: linear-gradient(to top, #cce6ff, #ffffff); /*Standard*/
	color: #005bbb !important;
	border-radius: 4px;
	border-style: none;
	
}
.btn-light
{
	background: #eaf1f8; /* Old Browsers */
	background: -webkit-linear-gradient(bottom,#eaf1f8,#ffffff); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,#eaf1f8,#ffffff); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,#eaf1f8,#ffffff); /*Fx 3.6-15*/
	background: linear-gradient(to top, #eaf1f8, #ffffff); /*Standard*/
	color: #005bbb !important;
}
/*
.price
{
	font-family: 'Andika', sans-serif;
}*/

.navigation
{
	font-family: 'Comfortaa', serif;
	font-size: 1.30vw;
	background: #005bbb; /* Old Browsers */
	background: -webkit-linear-gradient(bottom,#005bbb,#06eaec); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,#005bbb,#06eaec); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,#005bbb,#06eaec); /*Fx 3.6-15*/
	background: linear-gradient(to top, #005bbb, #06eaec); /*Standard*/
	border-radius: 4px;
	color: white;
	margin-right: 0.5rem;
	
}
.navigation:hover
{
	background: #005bbb; /* Old Browsers */
	background: -webkit-linear-gradient(bottom,#005bbb,#06eaec); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,#005bbb,#06eaec); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,#005bbb,#06eaec); /*Fx 3.6-15*/
	background: linear-gradient(to top, #005bbb, #06eaec); /*Standard*/
	border-radius: 4px;
	color: #00fcff;
	margin-right:  0.5rem;
	font-family: 'Comfortaa', serif;
	font-size: 1.30vw;
}
.navigation-active
{
	background: #005bbb; /* Old Browsers */
	background: -webkit-linear-gradient(bottom,#005bbb,#06eaec); /*Safari 5.1-6*/
	background: -o-linear-gradient(bottom,#005bbb,#06eaec); /*Opera 11.1-12*/
	background: -moz-linear-gradient(bottom,#005bbb,#06eaec); /*Fx 3.6-15*/
	background: linear-gradient(to top, #005bbb, #06eaec); /*Standard*/
	border-radius: 4px;
	color: #003c7c;
	margin-right:  0.5rem;
	font-family: 'Comfortaa', serif;
	font-size: 1.30vw;
}